.gradle
.settings
/HANDOUT.md
/docs/beeyonds-gui-terminal-box.md
/docs/mui2-gui-debugging.md
/docs/mui2-two-mode-gui-patterns.md
/.idea/
/tmp/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
.claude
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
src/main/resources/mixins.*([!.]).json
*.bat
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
