name: Release tagged build

on:
  push:
    tags: [ '*' ]

permissions:
  contents: write

jobs:
  release-tags:
    uses: GTNewHorizons/GTNH-Actions-Workflows/.github/workflows/release-tags.yml@master
    secrets: inherit

  release-static-file:
    needs: release-tags
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish Static File to Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "libs/123Technology_Musics.zip"
          tag: ${{ github.ref_name }}
          allowUpdates: true
          draft: false
